 <!-- container -->
        <div class="container">
            <nav>
                <ul class="navlist">
                    <li class="itemsnav">
                        <a href="/"> <img class="github"
                                src="../image/logo.jpg"
                                alt=""></a>
                    </li>
                    <li class="itemsnav hoverclass hidehoverclass"><a
                            href="/">Home</a></li>
                    <li class="itemsnav hoverclass"><a href="/about">About</a></li>
                    <li class="itemsnav hoverclass"><a
                            href="/all_image">Your
                            Image</a></li>
                    <li class="itemsnav hoverclass"><a
                            href="/upload">Uplaod
                            Image</a></li>
                    <li class="itemsnav hoverclass"><a href="/users">Hi
                            {{md}}</a></li>
                    <li class="itemsnav">
                        <a href="/login">
                            <img class="login" src="../image/login.png" alt=""
                                title="Login">
                        </a>
                    </li>
                </ul>
                <!-- make divider  -->
                <div class="divider">

                </div>
            </nav>
        </div>
        <!-- end container -->