<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>image uplaod</title>
    </head>
    <body>
        <div class="container">
            {{title}}
            {{success}}
            <form action="/" id="form_controls" enctype="multipart/form-data"
                method="POST">
                <input type="file" name="file" id="file">
                <input type="submit" send" id="sendbtn">
            </form>
            <div id="img1">
                {{# each src}}
       
                <img src=./uploads/{{this.file}} alt="" >
                <button onClick=>delete</button>
                {{/each}}
            </div>
        </div>
    </body>

    <script src="./js/index.js"></script>
</html>